<h1>{{title}}</h1>

{{> flash_messages}}

{{#if currentUser}}
  <h2>Welcome back, {{currentUser.fullName}}!</h2>
  <h3>Check our List of Alcoves</h3>
{{else}}
  <p>Why don't make an account?</p>
  <p><a href="/signup">Sign Up Today</a> and <a href="/alcove-list">Check our List of Alcoves</a></p>
{{/if}}