<h2>Sign Up</h2>

<form action="/process-signup" method="POST">
  <label>
    Name:
    <input type="text" name="name" placeholder="Enter your name">
  </label>

  <label>
    Email:
    <input type="email" name="email" placeholder="project@project.com">
  </label>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="We'll keep it secret">

    <button>Sign Up</button>
</form>